body{
	margin: 0 auto;
	font-family: Roboto;
	text-align: center;
	padding: 20px;
	width: 600px;
	color: black;
	border: 10px solid black;

}
header{
text-indent: center;
}
p{   
    padding: 40px;
	margin: 0 auto;
	background: rgb(214, 245, 245 .4);
}
#project{
	border-radius: 50px;

	margin: 0 auto;
}
h2,h1{
	text-decoration: underline;
}

footer{
	margin:0;

	font-style: uppercase;
    font-family: Roboto;
	background: black;
	height: 100px;
	color: white;
}
img{border-radius: 30px;
	width: 200px;
	height: 200px;

}


